* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #010101;
  height: 100vh;
  overflow-x: hidden;
  color: #fff;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #838282;
  transition: 0.2s;
}

a:hover {
  color: #fff;
  transform: scale(1.02);
}

header {
  display: flex;
  background-color: #010101;
  justify-content: space-between;
  align-items: center;
  padding: 5px 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

nav ul li a {
  position: relative;
  content: '';
}

nav ul li a:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: all ease 0.5s;
}

nav ul li a:hover:before {
  width: 100%;
}

.content {
  padding: 0 100px;
  height: 100vh;
  align-items: center;
  display: flex;
  position: relative;
}

.content .text {
  width: 100%;

}

.content .img_group {
  position: absolute;
  top: 15%;
  left: 0%;
  margin: 0 auto;
  width: 100%;
  padding: 0 100px;
  z-index: -1;
}

.content .img_group img {
  opacity: 0;
}

h1 {
  font-size: 126px;
  font-weight: 400;
  line-height: 126px;
  text-transform: uppercase;
  text-align: left;
}

h1 .engineer {
  position: relative;
}

h1 .engineer:before {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  left: 0;
  bottom: 0;
  transition: all ease 1s;
}

h1 .engineer:hover:before {
  width: 100%;
}

.bottom_text {
  position: absolute;
  bottom: 50px;
  left: 0;
  text-align: center;
  width: 100%;
}

.bottom_text h5 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #242424;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #e2e2e2;
  transition: 0.4s;
}


input:checked+.slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 30%;
}

/* Estilo para os textos "Pt" e "En" */
.language-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #e2e2e2;
  font-weight: bold;
}

.language-label.left {
  left: 8px;
}

.language-label.right {
  right: 8px;
}

/* 
  Estilo About */
section.about {

  opacity: 0;
  transform: translateX(-100%);
  transition: all 2s;
  filter: blur(15px);
  background-color: #353535;
  padding: 40px 4%;
}

section.about.visible {
  opacity: 1;
  transform: translateX(0);
  transition: all 2s;
  filter: blur(0px);
}

section.about.flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

section.about .txt-about {
  padding: 40px 4%;
}

.about .txt-about h1 {
  color: #d89e00;
  margin-right: 40px;
  font-size: 40px;
  line-height: 40px;
}

.about .txt-about p {
  margin-top: 40px;
  text-align: justify;
  margin-bottom: 40px;
  margin-right: 40px;
  color: #fff;
  line-height: 24px;
}

.about .tecnologias {
  margin: 16px;

}

.about .tecnologias .tech {
  position: relative;
  display: inline-block;
  overflow: hidden;

}

.about .tecnologias img {
  margin: 16px;
  transition: transform 0.3s ease;
}

.about .tecnologias img:hover {
  transform: scale(1.3);
}

.tech-name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  /* Fundo semitransparente */
  color: #ffd900;
  text-align: center;
  padding: 10px;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  font-size: 10px;
  border-radius: 8px;
}

.tech:hover .tech-name {
  opacity: 1;
  transform: translateY(0);
  /* O texto sobe suavemente */
}

.about .image-profile img {
  position: relative;
  width: 60vh;
  height: auto;
  animation: flutuar 3s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.about button {
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 600;
  background-color: #ffd900;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  margin-left: 50%;
}

button:hover,
form .btn-enviar input:hover {
  transform: translateY(-1px);
  box-shadow: 0px 0px 8px #d89e00;
  transform: scale(1.05);
}

.projects .interface h1 {
  color: #ffd900;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  
}

/* ESTILO PORTIFOLIO */
section.projects {
  opacity: 0;
  transform: translateX(80%);
  transition: all 2s;
  filter: blur(15px);
  padding: 40px 4%;
}
section.projects.visible {
  opacity: 1;
  transform: translateX(0);
  transition: all 2s;
  filter: blur(0px);
}
section.projects .interface .txt-title{
  display: flex;
  justify-content: center;
  align-items: center;
}
section.projects .interface h1{
  color: #fff;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 20px;
}
#text-projects{
  color: #d89e00;
}
#text-my, #text-projects {
  display: inline;
}

section.projects .flex {
  display: ruby;
  gap: 60px;
}

.projects .especialidades-box {
  max-width: 360px;
  background-color: #242424;
  align-items: center;
  color: #fff;
  padding: 35px;
  margin-top: 65px;
  border-radius: 20px;
  transition: .2s;
  cursor: pointer;
}

.projects .especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 16px #3a3a3a;
}

.projects .especialidades-box i {
  font-size: 28px;
  color: #d89e00;
}
.projects .especialidades-box h3,i {
  display: inline;
}
.projects .especialidades-box h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
.projects .especialidades-box h5 {
  display: inline;
  position: relative;
  padding: 6px 4%;
  font-size: 16px;
  font-weight: 900;
  color: #000;
  border-radius: 8px;
  margin-inline: 8px;
  line-height: 48px;
  transition: .2s;
}
.projects .especialidades-box p {
  text-align: justify;
}
.especialidades-box h5:hover {
  box-shadow: 0 0 16px #ffffff48;
  transform: scale(1.05);
}
.projects .especialidades-box h5.js{
  background-color: slateblue;
}
.especialidades-box h5.css{
  background-color: sienna;
}
.especialidades-box h5.html{
  background-color: rgba(128, 255, 0, 0.644);
}

.projects .especialidades-box h5.java{
  background-color: #61dafb;
}

.projects .especialidades-box h5.c{
  background-color: #42b883;
}

.projects .especialidades-box h5.c-{
  background-color: #ff0;
}

.projects .especialidades-box h5.node{
  background-color: #3399ff;
}
.projects .especialidades-box h5.eletronic{
  background-color: #f7a000;
}

.projects .especialidades-box h5.python{
  background-color: #306998;
}

.projects .especialidades-box h5.sql{
  background-color: #7D3C98;
}

.projects .especialidades-box h5.android{
  background-color: #777;
}

.projects .especialidades-box h5.plc{
  background-color: #ffac45;
}

.projects .especialidades-box h5.labview{
  background-color: #dea584;
}

.projects .especialidades-box h5.arduino{
  background-color: #00ADD8;
}

.projects .especialidades-box h5.kotlin{
  background-color: #f18d3c;
}

.projects .especialidades-box h5.proteus{
  background-color: #025791;
}

.projects .especialidades-box h5.matlab{
  background-color: #ff4444;
}

.projects .especialidades-box h5.node-red{
  background-color: #0298c3;
}

.projects .especialidades-box h5.autocad{
  background-color: #009688;
}

.projects .especialidades-box h5.sql{
  background-color: #ff69b4;
}

.janela-modal{
  width: 10vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  background-color: #0000006e;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.modal{
  width: 60%;
  min-width: 450px;
  min-height: 200px;
  background-color: #ffffff96;
  backdrop-filter: blur(10px);
  padding: 50px;
  border-radius: 20px;
}
.fechar{
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  background-color: red;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}


/* ESTILO SOBRE */
section.sobre {
  padding: 40px 4%;
  background-color: #353535;
}

section.sobre .flex {
  align-items: center;
  gap: 60px;
}

.sobre .img-sobre img {
  width: 100%;
  height: auto;
}

.sobre .txt-sobre {
  color: #fff;
}

.sobre .txt-sobre h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 20px;
}

#s-ja{
  color: #d89e00;
  display: block;
}

.sobre .txt-sobre p {
  margin: 20px 0;
  text-align: justify;
}

.btn-social button {
  width: 60px;
  height: 60px;
  background-color: #ffd900;
  border-radius: 50%;
  border: none;
  font-size: 25px;
  cursor: pointer;
  margin: 0 6px;
  transition: 0.3s;
}

/* ESTILO CONTATO */
section.contact {
  padding: 40px 4%;
}
section.contact .interface h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 20px;
}

/* section.contact .interface h2 span {
  color: #d89e00;
  display: block;
} */

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

form input,
form textarea {
  width: 100%;
  background-color: #242424;
  border: 0;
  outline: 0;
  padding: 20px 10px;
  border-radius: 15px;
  color: #fff;
  font-size: 14px;
}

form textarea {
  resize: none;
  max-height: 300px;
}

form .btn-enviar {
  margin-top: 20px;
  text-align: center;
}

form .btn-enviar input[type=submit] {
  width: 120px;
  color: #000;
  background-color: #ffd900;
  font-weight: 700;
  cursor: pointer;
  transition: .02s;
}

/* ESTILO DO RODAPÉ */
footer {
  margin-top: 60px;
  padding: 10px 4%;
  box-shadow: 0 0 40px 10px #242424;
}

footer .flex {
  justify-content: space-between;
}

footer .line-footer {
  padding: 20px 0;
}

footer .line-footer.borda {
  border-top: 2px solid #444;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 1115px) {

  /* Casses gerais */
  .flex {
    flex-direction: column;
  }

  .about .flex {
    flex-direction: column-reverse;
    align-items: center;
  }

  /* cabeçalho */
  .menu_desktop {
    display: none;
  }
  header {    
    justify-content: center;
  }

  .content {
    padding: 0 10px;
  }

  /* About */
  section.about .txt-about {
    padding: 30px 4%;
  }

  .about .txt-about h1 {
    font-size: 28px;
    line-height: 40px;
    margin-right: 0;
  }

  .about .txt-about p {
    margin-right: 0;
  }

  .about .image-profile img {
    width: 100%;
  }

  .content .img_group {
    display: none;
  }

  .content h1 {
    font-size: 46px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
  }

  .bottom_text {
    position: absolute;
    bottom: 50px;
    left: 0;
    text-align: center;
    width: 100%;
  }

  .bottom_text h5 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
  }

  /* ESTILO PORTIFOLIO 
  section.projects {
    padding: 20px 5%;
  }
  */
  /* Estilo About */
  section.about {
    padding: 80px 8%;
  }
  .sobre .txt-sobre h2{
    text-align: center;
    font-size: 34px;
    line-height: 35px;
  }
  .btn-social{
    text-align: center;
  }
  .img-sobre img{
    width: 100%;
  }

  /* Estilo Contato */
  form {
    max-width: 350px;
    margin: 0 auto;
  }

  /* RODAPE */
  footer .flex{
    gap: 30px;
    flex-direction: column;
  }
  footer .line-footer{
    text-align: center;
  }
}





/* Estilos para dispositivos em modo retrato */
/*
@media (orientation: portrait) {
  header {
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
    position: fixed;
  }
 

  nav ul {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }


  .content {
    padding: 0 20px;
    text-align: center;
    height: 100vh;
    display: flex;
    position: relative;
  }

  h1 {
    font-size: 30px;
    line-height: 70px;
  }
  .bottom_text {
    bottom: 20px;
  }
  
  .img_group {
    padding: 10px;
    gap: 10px;
  }
  .img_group_inner img {
    max-width: 150px; 
  }
}
  */